.about-main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: #36536b;
}
.about-main h1{
    margin: 2em 6em 0em 6em;
    font-size: 3rem;
}
.about-main__section {
    display: flex;
    align-items:start;
    justify-content: space-between;
    gap: 4rem;
    padding: 2rem 6rem;
    max-width: 1000px;
    margin: auto;
}
.about-main__section h3{
    font-size: 1.7em;
}
.about-main__img img {
    width: 100%;
    display: block;
}
.about-main__section p {
    line-height: 1.6em;
    color: #6c8294;
    width: 700px;
}

.about-main__card{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: auto;
}
.about-main__card div {
    padding: 2em 0em;
    width: 20vw;
    text-align: start;
    border-top: 1px solid #6c8294;
    border-bottom: 1px solid #6c8294;
}
.about-main__card h1 {
    font-size: 2.5rem;
    margin: 0em;
    color: #ba4270;
}
.about-main__card p {
    font-size: 1rem;
    font-weight: bold;
    color: #6c8294;
}