.about-main {
  display: flex;
  flex-direction: column;
  gap: 3em;
  color: #36536b;
}
.about-main h1{
    margin: 2em 6em 0em 6em;
    font-size: 3em;
}
.about-main__section {
    display: flex;
    align-items:start;
    justify-content: space-between;
    gap: 4em;
    padding: 2em 6em;
    margin: auto;
    max-width: 1000px;
}
.about-main__section div h3{
    font-size: 1.7em;
    width: 165px;
}
.about-main__img{
    position: relative;
}
.about-main__img img {
    width: 100%;
    display: block;
}
.about-main__section p {
    line-height: 1.6em;
    color: #6c8294;
}

.about-main__card{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin: auto;
}
.about-main__card div {
    padding: 2em 0em;
    width: 20vw;
    text-align: start;
    border-top: 1px solid #6c8294;
    border-bottom: 1px solid #6c8294;
}
.about-main__card h1 {
    font-size: 2.5em;
    margin: 0em !important;
    color: #ba4270;
}
.about-main__card p {
    font-size: 1em;
    font-weight: bold;
    color: #6c8294;
}
/* img circle */
.about-main__circle-img{
    position: absolute;
    z-index: -1;
    top: -100px;
    left: -35vw;
    width: 55vw !important;
}

/* tablet */
@media (max-width:768px) {
    .about-main h1 {
        margin: 1em;
        font-size: 2.7em;
        text-align: center;
    }
    .about-main__section {
        padding: 2em 4em;
    }
    .about-main__card h1{
        text-align: start;
    }
    .about-main__card div{
        width: 25vw;
    }
    /* img circle */
    .about-main__circle-img{
        display: none !important;
    }
}


/* phone */
@media (max-width: 600px) {
    .about-main__section{
        display: block;
        text-align: center;
        padding: 1em;
    }
    .about-main h1{
        font-size: 1.8em;
    }
    .about-main__section div h3{
        margin: auto;
        font-size: 1.6em;
    }
    .about-main__card {
        display: inline-block;
        border-top: 1px solid #6c8294;
        border-bottom: 1px solid #6c8294;
    }
    .about-main__card div {
        border: none;
        width: 75vw;
        text-align: center;
        padding: 0.5em 0em;
    }
      .about-main__card h1 {
        text-align: center !important;
        font-size: 2.7em;
    }
    
}