.main__text{
    padding: 1em 5em;
}
.main__text h1{
    color: #36536b;
    font-size: 3.5em;
    width: 700px;
}
.form-filling {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4em;
  padding: 4em 5em
}
form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  max-width: 50vw;
}
.hidden{
    visibility: hidden;
}    
.invalid{
    font-size: 0.7em;
    color: red;
    display: block;
}
form input[type="text"],
form input[type="email"],
form textarea {
  padding: 1em;
  font-size: 1em;
  width: 100%;
  font-weight: normal;
  color: #6c8294;
  background-color: #EDF3F8;
  border-style: none;
  border-bottom: 1px solid #36536b;
}
#announcements{
    accent-color: #ba4270;
}
form textarea {
  resize: none;
}
form input[type="submit"] {
  background-color: #EDF3F8;
  color: #36536b;
  border: 1px solid #36536b;
  padding: 1em;
  border-radius: 20px;
  width: 200px;
}
form label{
    display: flex;
    align-items: center;
    gap: 1em;
}
form span{
    color: #36536b;
    font-size: 1.1em;
    line-height: 1.5;
}
form input[type="checkbox"]{
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    color: #6c8294;
}
.form-filling__img-and-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.4em;
    padding: 5em 4em;
}
.form-filling__img-and-text h3{
    color: #6c8294;
    font-size: 2em;
}
.form-filling__img-and-text div{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, auto);
   justify-items: center;
   align-items: center;
   gap: 0.5em;
   padding: 0.1em;
   max-width: 50vw;
}

/* tablet */
@media (max-width:768px) {
    .main__text h1{
        margin: 2em 1em 0em 1em;
        font-size: 3em;
        width: auto;
    }
    .main__text {
        padding: 0em;
        text-align: center;
    }
    .form-filling {
        display: block;
        text-align: center;
    }
    form{
        gap: 0.5em;
        max-width: none;
    }
    form div{
        width: 100%;
    }
    form label{
        text-align: left;
        margin: 1em 0em;
    }
    form input[type="submit"] {
        padding: 1.2em;
        border-radius: 25px;
    }
    .form-filling__img-and-text {
        padding: 3em 0em;
    }
    .form-filling__img-and-text div {
        max-width: none;
    }
}

/* phone */
@media (max-width: 600px) {
   .main__text h1 {
    margin: 1em 0.5em;
    font-size: 2em;
  }
  .form-filling {
    padding: 0em;
    margin: 1em;
  }
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 80%;
  }
   form input[type="submit"] {
    padding: 1.3em;
    font-size: 0.85em;
   }
  .form-filling__img-and-text h3 {
    font-size: 1.6em;
  }
  .form-filling__img-and-text div{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    max-width: 75vw;
  }
  .form-filling__img-and-text div img{
    width: 120px;
  }
}