.main-header__input input[type="submit"]:hover, .fourth-main__input input[type="submit"]:hover, .demo-btn:hover{
    background-color: #da6d97;
}
.first-main__text button:hover{
    color: #1b262f;
    background-color: #fbfcfe;
}
.nav-menu li a:hover{
    color: #36536b;
}
.footer-links a svg path:hover{
    fill: #da6d97;
}
.nav-footer li a:hover{
    color: #fbfcfe;
}
.main-header__input input[type="email"]:hover, .fourth-main__input input[type="email"]:hover, .main-header__input input[type="email"]:focus, .fourth-main__input input[type="email"]:focus, form input[type="text"]:hover,form input[type="email"]:hover,form textarea:hover{
    color: #36536b;
}
.form-filling input[type="submit"]:hover, .price-card button:hover{
    color: #EDF3F8;
    background-color: #36536b;
}