/*  main header*/
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em 9em;
    gap: 2em;
    position: relative;
}
.main-header__get-started {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    gap: 1.5em;
    color:#36536b;
}
.main-header__get-started h1{
    color:#36536b;
    font-size: 3.8em;
}
.main-header__get-started a{
    color:#36536b;
}
.main-header__input {
    display: flex;
}
.main-header__input input[type="email"] {
    border-style: none;
    box-shadow: #6c8294 1px 1px 5px;
    color: #6c8294;
    border-radius: 2em;
    padding: 1.20em;
}
.main-header__input input[type="submit"] {
    background-color: #ba4270;
    color: #fbfcfe;
    box-shadow: #6c8294 1px 1px 5px;
    border-style: none;
    border-radius: 2em;
    padding: 1em;
}
/* main */
.second-main,
.third-main{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 5em;
    gap: 4em;
  
}

.first-main{
    position: relative;
    background-color: #1b262f;
    color: #fbfcfe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 5em;
    gap: 4em;
    overflow: hidden;
}
.second-main__text h2, .third-main__text h2, .main-footer__text h2{
    font-size: 2.3em;
    color: #36536b;
}
.first-main__text h2{
    font-size: 2.3em;
}
.first-main__text{
    position: relative;
    z-index: 1;
}
.first-main__imgs{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1em;
    justify-items: center;
    align-items: center;
    z-index: 1;
}
.first-main__imgs svg{
    padding: 0.5em;
}
.first-main__imgs svg path{
    fill: #fbfcfe;
}
.first-main__text button{
    color:#fbfcfe;
    background-color: #1b262f;
    border: 3px solid #fbfcfe;
    border-radius: 2em;
    padding: 1em;
}
.cards div h3, .third-main__text{
    color: #36536b;
}
.main-card div p, .second-main__text p, .third-main__text p{
    color:#6c8294
} 
.main-card div h3{
    font-family: 'Public Sans';
    font-size: 1em;
}
.cards{
    display: flex;
    text-align: center;
}
.main-card{
    margin: 1em;
}
/* img circle */
.main-header__circle-img {
    position: absolute;
    top: -270px;
    right: -16vw;
    z-index: -1;
}
.first-main__circle-img{
    position: absolute;
    z-index: 0;
    top: -430px;
    left: -255px;
}
.third-main__circle-img{
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 65vw;
    width: 50vw;
}


/* tablet */
@media (max-width:768px) {
    .main-header__get-started h1{
        font-size: 2.7em;
    }
    .main-header__input input[type="email"] {
        padding: 1.5em;
    }
    .main-header__input input[type="submit"] {
        padding: 1.3em;
    }
    .main-header__started-img img{
        width: 400px;
    }
    .second-main__img img, .third-main__img img{
        width: 500px;
    }
    .main-header, .first-main, .third-main{
        flex-direction: column-reverse;
        text-align: center;
        gap: 0em;
    }
    .first-main__text button{
        padding: 1.3em;
    }
    .second-main, .main-footer{
        flex-direction: column;
        text-align: center;
        gap: 0em;
    }
    .main-header__get-started {
        align-items: center;
    }
    .main-card{
        margin: 0.5em;
    }
    /* img circle */
    .main-header__circle-img {
        top: -500px;
        right: -20vw;
        width: 103vw;
    }
    .first-main__circle-img{
        top: -570px;
        left: -2vw;
        width: 103vw;
    }
    .third-main__circle-img {
        display: none;
    }
}

/* phone */
@media (max-width: 600px) {
    .first-main__imgs{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, auto);
    }
    .main-header {
        margin: 2em 2em;
    }
    .main-header__get-started h1{
        font-size: 2em;
    }
    .main-header__started-img img{
        width: 300px;
    }
    .first-main__text h2, .second-main__text h2, .third-main__text h2, .main-footer__text h2{
        font-size: 1.7em;
    }
    .second-main__img img, .third-main__img img{
        width: 350px;
    }
    .first-main, .second-main, .third-main{
        padding: 4em 2em;
    }
    .cards {
        display: block;
        margin: 2em;
    }
    .main-card{
        margin: 2em 0.5em;
    }
    .main-card img{
        width: 30vw;
    }
    .main-header__input{
        display: block;
    }
    .main-header__input input{
        margin: 2em auto;
        padding: 1.20em;
    }
    .main-header__input input[type="email"],.main-footer__input input[type="email"]{
        width: 90% !important;
    }
    .main-header__input input[type="submit"], .main-footer__input input[type="submit"]{
        width: 100%;
    }
    /* img circle */
    .main-header__circle-img {
        top: -575px;
        right: -20vw;
        width: 130vw;
    }
    .first-main__circle-img{
        top: -575px;
        left: -15vw;
        width: 130vw;
    }
}