.pricing-main__cards {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  padding: 2rem;
}
.pricing-main h1{
    margin: 2em;
    font-size: 3rem;
    color: #36536b;
}
.price-card{
    margin: 2em;
}
.price-card h1{
    margin: 0;
    margin-bottom: 1em;
}
.price-card h3{
  color:#ba4270;
  font-size: 2em;
}
.price-card p{
  color:#6c8294;
  font-size: 1em;
}
.list-text ul{
    display: block;
    margin: 0;
}
.price-card div{
    border-top: 1px solid #6c8294;
    border-bottom: 1px solid #6c8294;
    padding: 1em;
}
.price-card div ul li{
    padding: 0.7em;
    font-size: 1.1em;
}
.price-card__active{
    color: #36536b;
    list-style-image: url('/img/shared/desktop/icon-check.svg');
}
.price-card__unactive{
    color: #6c8294;
    list-style: none;
}
.price-card button{
    background-color: #EDF3F8;
    color: #36536b;
    border: 2px solid #36536b;
    margin: 2em;
    border-radius: 2em;
    padding: 1rem;
    width: 150px;
}

@media (max-width:768px) {
    .pricing-main{
        text-align: center;
    }
    .pricing-main__cards {
        gap:1em;
        padding: 1em;
    }
    .price-card {
        margin: 0em;
    }
    .price-card p{
        font-size: 1em;
    }
}


/* phone */
@media (max-width: 600px) {
    .pricing-main h1{
        margin: 1em;
        font-size: 2rem;
    }
    .price-card h1{
        font-size: 3.2em;
        margin-bottom: 0.1em;
    }
    .price-card h3{
        font-size: 1.5em;
        margin: 0.5em 0em;
    }
    .price-card button{
        padding: 1.3rem;
        width: 175px;
        font-size: 0.82em;
        border-radius: 2.5em;
    }
    .pricing-main__cards {
        display: block;
    }
    .list-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .price-card__active, .price-card__unactive{
        display: inline-block !important;
        text-align: left;
    }
}