@import url('/style/index.css');
@import url('/style/about.css');
@import url('/style/pricing.css');
@import url('/style/contact.css');
@import url('/style/hover.css');


body{
    font-family: 'Public Sans';
    background-color: #EDF3F8;
    margin: 0;
}
h1,h2,h3{
    font-family: "DM Serif Display";
}
p{
    line-height: 2;
}
a{
    text-decoration: none;
    font-weight: bold;
}
button, input{
    font-weight: bold;
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3em 4em;
    position: relative;
}
.nav-menu{
    display: flex;
    list-style-type: none;
    gap: 2em
}
.nav-menu li{
    justify-content: center;
}
.nav-menu__demo-btn{
    display: none;
    margin: auto;
    background-color: #ba4270;
    color: #fbfcfe;
    border-style: none;
    padding: 1em 1.5em;
    border-radius: 2em;
    width: 100%;
}
.demo-btn{
    background-color: #ba4270;
    color: #fbfcfe;
    border-style: none;
    padding: 0.7em 1.5em;
    border-radius: 2em;
    margin: 0em 1em;
    width: 175px;
}
.sidebar hr{
    display: none;
    color: #6c8294;
}
.menu-toggle { 
    display: none;
    background: none; 
    border: none;
}
.menu-close { 
    display: none;
    background: none; 
    border: none;
    margin-left: auto;
}
.menu-toggle img{ 
    width: 35px;
}
.menu-close img{ 
    width: 25px;
}
.nav-menu li a{
    color: #6c8294;
}
.nav-left-header {
    display: flex;
    align-items: center;
    gap: 2em;
}
/* main footer */
.main-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 5em;
  gap: 4em;
}
.main-footer__input{
    display: flex;
}
.main-footer__input input[type="email"] {
    border-style: none;
    box-shadow: #6c8294 1px 1px 5px;
    color: #6c8294;
    border-radius: 2em;
    width: 250px;
    padding: 1.20em;
}
.main-footer__input input[type="submit"] {
    background-color: #ba4270;
    color: #fbfcfe;
    box-shadow: #6c8294 1px 1px 5px;
    border-style: none;
    border-radius: 2em;
    padding: 1em;
}

/* footer */
footer{
    display: flex;
    background-color: #1b262f;
    justify-content: space-between;
    padding: 2em 5em;
}
.nav-left-footer {
    display: flex;
    align-items: center;
    gap: 2em;
}
.nav-footer{
    display: flex;
    list-style-type: none;
    gap: 2em
}
.logo svg path{
    fill: #fbfcfe;
}
.nav-footer li a{
    color: #6c8294;
}
.footer-links {
    display: flex;
    gap: 1.5em;
    align-items:center;
    margin-left: 1em;
}

/* tablet */
@media (max-width:768px) {
    /* header */
    header{
        margin: 3em 2em;
    }
    .nav-left-header{
        gap: 0em
    }

    /* footer */
    .nav-left-footer ul{
        padding: 0em;
    }
    .main-footer__text h2{
        font-size: 2.7em;
        margin: 0;
    }
    .main-footer__input input[type="email"] {
        padding: 1.5em; 
    }
    .main-footer__input input[type="submit"] {
        padding: 1.3em;
    }
    .footer-links svg{
        width: 27px;
        height: 27px;
    }
}

/* phone */
@media (max-width: 600px) {
    /* header */
    header{
        margin: 0em;
        padding: 3em 2em;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
        padding: 0em;
        margin: 2em 0em;
        font-size: 1.2em;
    }
    .sidebar{
        display: none;
        align-items: center;
        background-color: #1b262f;
        position: fixed;
        padding: 2em;
        height: 100vh;
        top: 0; 
        right: 0;
        left: 6em;
    }
    .nav-menu__demo-btn{
        display: block;
    }
    .sidebar__active {
        display: block;
    }
    .sidebar hr{
        display: block;
    }
    .menu-toggle {
        display: block;
    }
    .menu-close { 
        display: block;
    }
    .demo-btn {
        display: none;
    }

    /* main footer */
    .main-footer{
        gap: 2em !important;
        padding: 0em !important;
        margin: 4em 2em;
    }
    .main-footer__input {
        display: block !important;
    }
    .main-footer__input input{
        margin: 2em auto;
        padding: 1.20em;
    }

    /* footer */
    footer{
        flex-direction: column;
    }
    .nav-left-footer{
        display: block;
        gap: 2em;
        text-align: center;
    }
    .nav-footer{
        flex-direction: column;
        margin: 2em;
        font-size: 1.2em;
    }
    .footer-links{
        margin: auto;
    }
    .footer-links{
        gap: 2em;
    }
}

