@import url('/style/index.css');
@import url('/style/about.css');
@import url('/style/pricing.css');
@import url('/style/contact.css');
@import url('/style/hover.css');


body{
    font-family: 'Public Sans';
    background-color: #EDF3F8;
    margin: 0;
}
h1,h2,h3{
    font-family: "DM Serif Display";
}
ul{
    display: flex;
    list-style-type: none;
    gap: 2rem
}
a{
    text-decoration: none;
    font-weight: bold;
}
button, input{
    font-weight: bold;
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    margin: 3em 4em;
}
header ul li{
    justify-content: center;
}
header button{
    background-color: #ba4270;
    color: #fbfcfe;
    border-style: none;
    padding: 0.7rem 1.5rem;
    border-radius: 2em;
    width: 175px;
}
header ul li a{
    color: #6c8294;
}
.nav-left-header {
    display: flex;
    align-items: center;
    gap: 2rem;
}
/* main footer */
.main-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 5rem;
  gap: 4rem;
}
.main-footer__input{
    display: flex;
}
.main-footer__input input[type="email"] {
    border-style: none;
    box-shadow: #6c8294 1px 1px 5px;
    color: #6c8294;
    border-radius: 2em;
    width: 250px;
    padding: 1.20em;
}
.main-footer__input input[type="submit"] {
    background-color: #ba4270;
    color: #fbfcfe;
    box-shadow: #6c8294 1px 1px 5px;
    border-style: none;
    border-radius: 2em;
    padding: 1em;
}

/* footer */
footer{
    display: flex;
    background-color: #1b262f;
    justify-content: space-between;
    padding: 2em 5em;
}
.nav-left-footer {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-left-footer svg path{
    fill: #fbfcfe;
}
.nav-left-footer ul li a{
    color: #6c8294;
}
.footer-links {
  display: flex;
  gap: 1.5rem;
  align-items:center;
}


@media (max-width:768px) {
    .nav-left-header{
        gap: 0rem
    }
    .nav-left-footer ul{
        padding: 0em;
    }
    .main-footer__text h2{
        font-size: 2.5em;
    }
    .main-footer__input input[type="email"] {
        padding: 1.5em; 
    }
    .main-footer__input input[type="submit"] {
        padding: 1.3em;
    }
    .footer-links svg{
        width: 30px;
        height: 30px;
    }
}