body{
    background-color: #EDF3F8;
    margin: 0;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 2rem
}
a{
    text-decoration: none;
}



header{
    display: flex;
    justify-content: space-between;
    margin: 3em 4em;
}
header ul li{
    justify-content: center;
}
header button{
    background-color: #ba4270;
    color: #fbfcfe;
    border-style: none;
    padding: 0.7rem 1.5rem;
    border-radius: 2em;
    width: 175px;
}
header ul li a{
    color: #6c8294;
}
.nav-left-header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 9rem;
    gap: 2rem;
}
.main-header__get-started {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    gap: 1.5rem;
    color:#6c8294;
}
.main-header__get-started h1{
    color:#36536B;
    font-size: 3.8em;
}
.main-header__get-started a{
    color:#6c8294;
}
.main-header__input {
    display: flex;
}
.main-header__input input[type="email"] {
    border-style: none;
    box-shadow: #6c8294 1px 1px 5px;
    border-radius: 2em 2em 2em 2em;
    padding: 1.20em;
}
.main-header__input input[type="submit"] {
    background-color: #ba4270;
    color: #fbfcfe;
    box-shadow: #6c8294 1px 1px 5px;
    border-style: none;
    border-radius: 2em;
    padding: 1em;
}

.first-main,
.second-main,
.third-main,
.fourth-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 5rem;
  gap: 4rem;
}

.first-main{
    background-color: #1b262f;
    color: #fbfcfe;

}
.second-main__text h2, .third-main__text h2, .fourth-main__text h2{
    font-size: 2.3rem;
    color: #36536B;
}
.first-main__text h2{
    font-size: 2.3rem;
}
.first-main__imgs{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, auto);
   gap: 2rem;
   justify-items: center;
   align-items: center;
}
.first-main__imgs svg{
    padding: 0.5em;
}
.first-main__imgs svg path{
    fill: #fbfcfe;
}
.first-main__text button{
    color:#fbfcfe;
    background-color: #1b262f;
    border: 3px solid #fbfcfe;
    border-radius: 2em;
    padding: 1em;
}
.main-card div p, .second-main__text p, .third-main__text{
    color: #6c8294;
}
.main-card div p:first-of-type{
    font-weight: bold;
}
.cards{
    display: flex;
    text-align: center;
}
.main-card{
    margin: 1em;
}
.fourth-main__input{
    display: flex;
}
.fourth-main__input input[type="email"] {
    border-style: none;
    box-shadow: #6c8294 1px 1px 5px;
    border-radius: 2em 2em 2em 2em;
    width: 250px;
    padding: 1.20em;
}
.fourth-main__input input[type="submit"] {
    background-color: #ba4270;
    color: #fbfcfe;
    box-shadow: #6c8294 1px 1px 5px;
    border-style: none;
    border-radius: 2em;
    padding: 1em;
}

footer{
    display: flex;
    background-color: #1b262f;
    justify-content: space-between;
    padding: 2em 5em;
}
.nav-left-footer {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-left-footer svg path{
    fill: #fbfcfe;
}
.nav-left-footer ul li a{
    color: #fbfcfe;
}
.footer-links {
  display: flex;
  gap: 1.5rem;
  align-items:center;
}
.footer-links a svg{
    fill: #fbfcfe;
}